## Base16 Solarized Dark
# Author: Ethan Schoonover (modified by aramisgithub)

# ===============================
# Super Minimal Bar (Base16)
# ===============================

[theme]
theme = "plain"

[theme.overrides]
idle_bg = "#002b36"
idle_fg = "#93a1a1"
separator_fg = "#657b83"
separator_bg = "#002b36"
separator = " • "
[icons]
icons = "material-nf"

# ===============================
# WIFI
# yellow
# ===============================
[[block]]
block = "net"
interval = 3
format = "$icon $ssid"
[block.theme_overrides]
idle_fg = "#b58900"

# ===============================
# VOLUME
# red
# ===============================
[[block]]
block = "sound"
driver = "pulseaudio"
format = "$icon $volume"
[block.theme_overrides]
idle_fg = "#dc322f"

# ===============================
# BATTERY
# green
# ===============================
[[block]]
block = "battery"
interval = 15
format = "$icon $percentage"
full_format = "$icon $percentage"
empty_format = "$icon $percentage"
not_charging_format = "$icon $percentage"
missing_format = "$icon $percentage"
[block.theme_overrides]
idle_bg     = "#002b36"
idle_fg     = "#859900"
good_bg     = "#002b36"
good_fg     = "#859900"
warning_bg  = "#002b36"
warning_fg  = "#859900"
critical_bg = "#002b36"
critical_fg = "#859900"

# ===============================
# CALENDAR
# blue
# ===============================
[[block]]
block = "time"
interval = 60
format = "󰃭 $timestamp.datetime(f:'%a %b %d')"
[block.theme_overrides]
idle_fg = "#268bd2"

# ===============================
# TIME
# magenta
# ===============================
[[block]]
block = "time"
interval = 5
format = "󰥔 $timestamp.datetime(f:'%I:%M %p') "
[block.theme_overrides]
idle_fg = "#6c71c4"