## Base16 {{scheme-name}}
# Author: {{scheme-author}}

# Normal colors
black='#{{base00-hex}}'
red='#{{base08-hex}}'
green='#{{base0B-hex}}'
yellow='#{{base0A-hex}}'
blue='#{{base0D-hex}}'
magenta='#{{base0E-hex}}'
cyan='#{{base0C-hex}}'
white='#{{base05-hex}}'

# Bright colors
bright_black='#{{base03-hex}}'
bright_red='#{{base08-hex}}'
bright_green='#{{base0B-hex}}'
bright_yellow='#{{base0A-hex}}'
bright_blue='#{{base0D-hex}}'
bright_magenta='#{{base0E-hex}}'
bright_cyan='#{{base0C-hex}}'
bright_white='#{{base07-hex}}'

# Indexed colors
color16='#{{base09-hex}}'
color17='#{{base0F-hex}}'
color18='#{{base01-hex}}'
color19='#{{base02-hex}}'
color20='#{{base04-hex}}'
color21='#{{base06-hex}}'
