home/.config/cmus.symlink/*
!home/.config/cmus.symlink/autosave
!home/.config/cmus.symlink/colors.theme
home/.config/beets.symlink/state.pickle
home/.config/beets.symlink/library.db
home/.config/kak.symlink/bundle/*
home/.config/cava.symlink/shaders/
home/.config/cava.symlink/themes/
