## Base16 Catppuccin
# Author: Pocco81 (https://github.com/pocco81)

# i3blocks does not provide variables so we must make the entire config a flavours template

markup=pango
full_text=
align=center
separator=false
separator_block_width=18
background=#{{base01-hex}}
border_left=0
border_right=0
border_top=0
border_bottom=3

[wifi]
color=#{{base0A-hex}}
border=#{{base0A-hex}}
command=~/.config/i3blocks/bin/wifi.sh
interval=2

[separator]

[volume]
color=#{{base08-hex}}
border=#{{base08-hex}}
command=~/.config/i3blocks/bin/volume.sh
interval=once
signal=10

[separator]

[battery]
color=#{{base0B-hex}}
border=#{{base0B-hex}}
command=~/.config/i3blocks/bin/battery.sh
interval=3

[separator]

[calendar]
color=#{{base0D-hex}}
border=#{{base0D-hex}}
command=date '+ 󰸗 %a %d '
interval=5

[separator]

[time]
color=#{{base0E-hex}}
border=#{{base0E-hex}}
command=~/.config/i3blocks/bin/time.sh
interval=5

[separator]

[blank]
full_text=""
