## Base16 {{scheme-name}}
## Author: {{scheme-author}}
[normal]
background={{base01-hex}}
border={{base03-hex}}
border-bottom={{base02-hex}}
button-background={{base02-hex}}
details-background={{base01-hex}}
text={{base05-hex}}

[error]
background={{base08-hex}}
border={{base09-hex}}
border-bottom={{base09-hex}}
button-background={{base09-hex}}
details-background={{base09-hex}}
text={{base00-hex}}
button-text={{base01-hex}}

[warning]
background={{base0A-hex}}
border={{base05-hex}}
border-bottom={{base05-hex}}
button-background={{base05-hex}}
details-background={{base05-hex}}
text={{base00-hex}}
button-text={{base01-hex}}
