## Base16 {{scheme-name}}
# Author: {{scheme-author}}

background={{base00-hex}}ff
border-color={{base0D-hex}}ff
title-color={{base05-hex}}ff
summary-color={{base05-hex}}ff
body-color={{base05-hex}}ff
progress-bar-color={{base0D-hex}}ff

[low]
background={{base00-hex}}ff
border-color={{base0D-hex}}ff
title-color={{base05-hex}}ff
summary-color={{base05-hex}}ff
body-color={{base05-hex}}ff
progress-bar-color={{base0D-hex}}ff

[critical]
background={{base00-hex}}ff
border-color={{base0D-hex}}ff
title-color={{base05-hex}}ff
summary-color={{base05-hex}}ff
body-color={{base05-hex}}ff
progress-bar-color={{base0D-hex}}ff
