## Base16 {{scheme-name}}
# Author: {{scheme-author}}
[colors]
background="{{base00-hex}}ff"
text="{{base05-hex}}ff"
match="{{base0A-hex}}ff"
selection="{{base0D-hex}}ff"
selection-text="{{base00-hex}}ff"
selection-match="{{base08-hex}}ff"
border="{{base0D-hex}}ff"
