## Base16 {{scheme-name}}
# Author: {{scheme-author}}

background = #{{base00-hex}}
overlay_text_color = #{{base05-hex}}
overlay_text_alpha = ff
overlay_background_color = #{{base01-hex}}
overlay_background_alpha = ff
